version: "3"
services:
  # Init Database
  # Postgres
  postgres:
    build:
      context: ../postgres
      dockerfile: Dockerfile
      args:
        ADMIN_USERNAME: ${ADMIN_USERNAME}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    shm_size: 1g
    # restart: always
    volumes:
      - ../postgres/data:/var/lib/postgresql/data
      # - ../postgres/backup:/opt/postgres/backup
      # - ../postgres/exchange:/opt/exchange
      - ../postgres/initdb:/docker-entrypoint-initdb.d
    ports:
      - ${DATASOURCE_PORT}:5432
    environment:
      LANG: en_US.utf8
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=en_US"
      DATASOURCE_USER: ${DATASOURCE_USER}
      POSTGRES_PASSWORD: ${DATASOURCE_PASSWORD}
      TZ: "Asia/Yekaterinburg"
      PGTZ: "Asia/Yekaterinburg"
    networks:
      - db_network

  # PgAdmin
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_LISTEN_PORT: 5050
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      TZ: "GMT+5"
      PGTZ: "GMT+5"
    ports:
      - 5050:5050
    volumes:
      - ../postgres/pgadmin/data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - db_network

  # Nginx
  nginx:
    image: nginx:latest
    volumes:
      - ../laravel/60941kkv:/var/www/html
      - ../nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app_network

  vue-app:
    environment:
      - VITE_API_URL=http://localhost:80
      - VITE_APP_S3_URL=http://localhost:9000/publications-bucket
    build:
      context: ../web
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ../web:/app
    # restart: always
    depends_on:
      - app
    networks:
      - app_network
  # vue-app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - .:/app
  #   restart: always

  # php-laravel
  app:
    build:
      context: ../laravel
      dockerfile: Dockerfile
    volumes:
      - ../laravel/60941kkv:/var/www/html
    environment:
      - DB_USERNAME=${DATASOURCE_USER}
      - DB_PASSWORD=${DATASOURCE_PASSWORD}
      - APP_NAME=${APP_NAME}
      - APP_ENV=${APP_ENV}
      # - APP_KEY=${APP_KEY}
      - APP_DEBUG=${APP_DEBUG}
      - APP_TIMEZONE=${APP_TIMEZONE}
      - APP_URL=http://localhost
      # - APP_URL=${APP_URL}
      # Minio
      - AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
      - AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_BUCKET=publications-bucket
      - AWS_ENDPOINT=http://minio:9000
      - AWS_URL=http://localhost:9000/publications-bucket
      - AWS_USE_PATH_STYLE_ENDPOINT=true
      - FILESYSTEM_DISK=s3
    depends_on:
      - postgres
      - minio
    networks:
      - db_network
      - app_network

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - "9000:9000" # Проброс API
      - "9001:9001" # Проброс консоли
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - app_network

# Networks
networks:
  db_network:
    driver: bridge
  app_network:
    driver: bridge

volumes:
  minio_data:
